/** DROP DOWN **/
.dk_container .dk_options{display:none}
.dk_container.dk_open .dk_options{display:block}
.dk_container.dk_open .dk_toggle{background-image:url(images/icon-arrow-up.png);}
.dk_toggle{widht:200px;background-image:url(images/icon-arrow-down.png);background-repeat:no-repeat;background-position: center right}
.dk_options{width:200px}
.dk_options a{display:block;width:200px}