
.img-button{cursor: pointer}

/** POPULAR SEARCHES **/
.popular-search-A{font-size:10px;}
.popular-search-B{font-size:12px;}
.popular-search-C{font-size:16px;}
.popular-search-D{font-size:20px;}
.popular-search-E{font-size: 25px;}
